name: Test Pipeline
on: 
    workflow_dispatch: 
    schedule:
      - cron: "00 10 * * 1-5"
      - cron: "0 */6 * * *"

permissions: 
    id-token: write
    contents: read
    
jobs:
  get-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install azure-identity azure-keyvault-secrets

      - name: Run script
        run: python main.py
